<div class="view">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form>
                <h1>Create Account</h1>
                @if(errorMessageUp)
                {
                <div class="error-message">{{errorMessageUp}}</div>
                }
                <div class="social-container">
                    <a class="social" name="registerGoogle" (click)="singInWithGoogle()"><fa-icon
                            [icon]="googleIcon"></fa-icon></a>
                    <a class="social" name="registerGitHub" (click)="singInWithGitHub()"><fa-icon
                            [icon]="githubIcon"></fa-icon></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Name" name="username" [(ngModel)]="usuarioSingUp.username" />
                <input type="email" placeholder="Email" name="email" [(ngModel)]="usuarioSingUp.email" />
                <input type="password" placeholder="Password" name="password" [(ngModel)]="usuarioSingUp.password" />
                <button (click)="singUp()">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form>
                <h1>Sign in</h1>
                @if(errorMessageIn)
                {
                <div class="error-message">{{errorMessageIn}}</div>
                }

                <div class="social-container">
                    <a class="social" name="loginGoogle" (click)="singInWithGoogle()"><fa-icon
                            [icon]="googleIcon"></fa-icon></a>
                    <a class="social" name="loginGitHub" (click)="singInWithGitHub()"><fa-icon
                            [icon]="githubIcon"></fa-icon></a>
                </div>
                <span>or use your account</span>
                <input type="email" placeholder="Email" name="email" [(ngModel)]="usuarioSingIn.email" />
                <input type="password" placeholder="Password" name="password" [(ngModel)]="usuarioSingIn.password" />
                <a href="#">Forgot your password?</a>
                <button (click)="singIn()">Sign In</button>
                <div class="autofill-container">
                    <button (click)="fillTest()" class="btn-test">test</button>
                    <button (click)="fillAdmin()" class="btn-admin">admin</button>
                </div>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn" (click)="goToSignIn()">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp" (click)="goToSignUp()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>